
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}


.animated-header {
    text-align: center;
    padding: 20px;
}


.header-title {
    font-size: 2.5rem;
    color: #333;
    animation: colorChange 3s infinite alternate;
    transition: transform 0.3s ease;
}


@keyframes colorChange {
    0% {
        color: #333;
    }
    50% {
        color: #008CBA;
    }
    100% {
        color: #ff7e5f;
    }
}


.header-title:hover {
    transform: scale(1.1);
}
